# Ignore all
*

# Avoid ignoring directory
!*/

# Avoid ignoring some suffix
!*.cs
!*.csproj
!*.ico
!*.sln
!.alias.example

# Avoid ignoring default file
!.editorconfig
!.gitattributes
!.gitignore
!LICENSE
!README.md
!build.cmd

# Ignore some directory
.*/
bin/
obj/
